*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgcolor-orange{
    background-color: orange;
}
.bgcolor-aqua{
    background-color: aqua;
}
.p-10r{
    padding-right: 10px;
}
.pl-25{
    margin-left: 25px;
}
.line-h-70{
    line-height: 70px;
}
.pb-20{
    padding-bottom: 20px;
}
.mb-20{
    margin-bottom: 20px;
}